* {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-areas:
        "brand brand brand brand"
        "display display display display"
        "clear negative percentage divide"
        "seven eight nine multiply"
        "four five six substract"
        "one two three add"
        "zero zero decimal equals";
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: black;
}

button {
    height: 100px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    transition: transform 0.1s ease-in-out;
    font-size: 28px;
}

button:active {
    transform: scale(0.95);
}

#answer {
    text-align: right;
    height: 60px;
    font-size: 64px;
    color: white;
    background-color: black;
    padding: 8px;
}

#expression {
    text-align: right;
    height: 42px;
    font-size: 40px;
    color: white;
    background-color: black;
    padding: 8px;
}

#display {
    grid-area: display;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

#clear {
    grid-area: clear;
    background-color: lightgray;
}

#negative {
    grid-area: negative;
    background-color: lightgray;
}

#percentage {
    grid-area: percentage;
    background-color: lightgray;
}

#multiply {
    grid-area: multiply;
    background-color: darkorange;
}

#divide {
    grid-area: divide;
    background-color: darkorange;
}

#subtract {
    grid-area: substract;
    background-color: darkorange;
}

#add {
    grid-area: add;
    background-color: darkorange;
}

#decimal {
    grid-area: decimal;
    background-color: slategray;
}

#equals {
    grid-area: equals;
    background-color: darkorange;
}

#one {
    grid-area: one;
    background-color: slategray;
}

#two {
    grid-area: two;
    background-color: slategray;
}

#three {
    grid-area: three;
    background-color: slategray;
}

#four {
    grid-area: four;
    background-color: slategray;
}

#five {
    grid-area: five;
    background-color: slategray;
}

#six {
    grid-area: six;
    background-color: slategray;
}

#seven {
    grid-area: seven;
    background-color: slategray;
}

#eight {
    grid-area: eight;
    background-color: slategray;
}

#nine {
    grid-area: nine;
    background-color: slategray;
}

#zero {
    grid-area: zero;
    border-radius: 50px;
    background-color: slategray;
}

#brand {
    grid-area: brand;
    text-align: center;
    background-color: black;
    color: white;
}